<div id="gardenPlantModal" class="reveal-modal" data-reveal>
  <%= form_for [@garden, @garden_plant] do |gp| %>
    <%= gp.select :plant_id, @plants.collect{ |p| [p.name, p.id] } %>
    <%= gp.hidden_field :garden_id, :value => @garden.id %>
    <%= gp.date_field :planted_on %>
    <%= gp.text_field :notes %>
    <%= gp.submit "Add Plant" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
