
<div class="row">
  <div class="small-9 small-centered large-centered columns">
    <div class="garden_show">
      <h2><%= @garden.name %> <small> <%= @garden.location %> </small></h2>
      <p> <%= @garden.notes %> </p>
      <%= link_to "Add a Plant", "", :'data-reveal-id' => "gardenPlantModal", :class => "open-modal-link button tiny radius round"%>
      <table>
        <thead>
          <tr>
            <th width="150">Plant Name</th>
            <th>Planted Date</th>
            <th width="350">Notes</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% @garden.garden_plants.each do |garden_plant| %>
            <tr>
              <td id="plant-link"><%= link_to garden_plant.plant.name, plant_path(garden_plant.plant) %></td>
              <td><%= garden_plant.planted_on.strftime("%m/%d/%Y") %></td>
              <td><%= garden_plant.notes %></td>
              <td><%= link_to 'Edit', edit_garden_garden_plant_path(@garden, garden_plant) %>
              <%= link_to 'Delete', garden_garden_plant_path(@garden, garden_plant), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal View -->
<div id="gardenPlantModal" class="reveal-modal" data-reveal>
  <%= form_for [@garden, @garden_plant] do |gp| %>
    <%= gp.select :plant_id, @plants.collect{ |p| [p.name, p.id] } %>
    <%= gp.hidden_field :garden_id, :value => @garden.id %>
    <%= gp.date_field :planted_on %>
    <%= gp.text_field :notes %>
    <%= gp.submit "Add Plant" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
